@import "./partials/vars";
@import "./reset/basic-reset";


body {
	background: $dark-grey;
}

nav.home-nav {
	border-bottom: 2px solid red;
	border-radius: 25px;
	background: $dark-grey;
}

nav.admin-nav {
}

.main-container {
	background: $dark-red;
}

.movie {
	overflow: hidden;
	width: 300px;
	height: 443px;
	background-repeat: no-repeat;
	background-size: cover;

	.fa {
		position: relative;
		top: 122px;
		left: 104px;
		font-size: 95px;
		color: #ff3636;
		opacity: 0;
		z-index: 10;
	}

	.details {
		background: url('../img/bg.png');
		height: 320px;
		position: relative;
		top: 360px;
		padding: 115px 10px 5px 10px;
	}

	h4 {
		color: #ff3636;
		font-size: 26px;
		font-weight: bold;
	}
}

.movie-overlay {
	width: 300px;
	height: 443px;
	position: relative;
	top: -443px;
	z-index: 100;

	
}